{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я Даниил Воронов, разработчик соцсети Yatube</h1>
<p>
  Сейчас я являюсь студентом 3 курса программы ИФИ РГГУ "Новейшая русская литература", 
  а также редактором в ряде студенческих объединений. На протяжении последних нескольких лет
  я занимаюсь исследлованиями советской неподцензурной и современной русской
  поэзии, а также художественным переводом с французского языка.
  Помимо этого я уже долгое время изучаю программирование на Python и Bash.
  Сейчас же Вы находитесь на главной странице одного из моих учебных проектов в
  Яндекс Практикуме на факультете Python разработки, и я очень надеюсь, что через некоторое время
  он станет полноценным местом, где множество людей сможет
  общаться в самых различных форматах.
  Bienvenu!
</p>
{% endblock %} 